<h1>Guild</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Guildname</th>
            <td>{{ entity.guildName }}</td>
        </tr>
        <tr>
            <th>Guildstatus</th>
            <td>{{ entity.guildStatus }}</td>
        </tr>
        <tr>
            <th>Helmgodid</th>
            <td>{{ entity.helmGodId }}</td>
        </tr>
        <tr>
            <th>Helmcultid</th>
            <td>{{ entity.helmCultId }}</td>
        </tr>
        <tr>
            <th>Helmalignid</th>
            <td>{{ entity.helmAlignId }}</td>
        </tr>
        <tr>
            <th>Guildprivbg</th>
            <td>{{ entity.guildPrivBg }}</td>
        </tr>
        <tr>
            <th>Guildpubbg</th>
            <td>{{ entity.guildPubBg }}</td>
        </tr>
        <tr>
            <th>Guildgoal</th>
            <td>{{ entity.guildGoal }}</td>
        </tr>
        <tr>
            <th>Guildcreation</th>
            <td>{{ entity.guildCreation|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Guildnote</th>
            <td>{{ entity.guildNote }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('guild') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('guild_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('guild_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
