<h1>Charact list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Playerid</th>
            <th>Charactname</th>
            <th>Characttitle</th>
            <th>Charactlevel</th>
            <th>Charactpvtrunk</th>
            <th>Charactpvarms</th>
            <th>Charactpvlegs</th>
            <th>Charactfate</th>
            <th>Charactbonus</th>
            <th>Charactmalus</th>
            <th>Charactprivbg</th>
            <th>Charactpubbg</th>
            <th>Charactgoal</th>
            <th>Charactmoney</th>
            <th>Charactstone</th>
            <th>Charactcreation</th>
            <th>Charactnotes</th>
            <th>Alignid</th>
            <th>Cultid</th>
            <th>Raceid</th>
            <th>Godid</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('charact_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.playerId }}</td>
            <td>{{ entity.charactName }}</td>
            <td>{{ entity.charactTitle }}</td>
            <td>{{ entity.charactLevel }}</td>
            <td>{{ entity.charactPvTrunk }}</td>
            <td>{{ entity.charactPvArms }}</td>
            <td>{{ entity.charactPvLegs }}</td>
            <td>{{ entity.charactFate }}</td>
            <td>{{ entity.charactBonus }}</td>
            <td>{{ entity.charactMalus }}</td>
            <td>{{ entity.charactPrivBg | truncate(100) }}</td>
            <td>{{ entity.charactPubBg | truncate(100) }}</td>
            <td>{{ entity.charactGoal | truncate(100) }}</td>
            <td>{{ entity.charactMoney }}</td>
            <td>{{ entity.charactStone }}</td>
            <td>{% if entity.charactCreation %}{{ entity.charactCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.charactNotes }}</td>
            <td>{{ entity.alignId }}</td>
            <td>{{ entity.cultId }}</td>
            <td>{{ entity.raceId }}</td>
            <td>{{ entity.godId }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('charact_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('charact_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('charact_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
